<div class="container">
	<h1>Crear Hospital</h1>
	<h2>@ViewData["MENSAJE"]</h2>
</div>
<form method="post">
	<label>Id Hospital</label>
	<input type="text" name="idhospital"
		class="form-control"/>
	<label>Nombre:</label>
	<input type="text" name="nombre"
		   class="form-control" />
	<label>Direccion:</label>
	<input type="text" name="direccion"
		   class="form-control" />
	<label>Telefono</label>
	<input type="text" name="telefono"
		   class="form-control" />
	<label>Camas:</label>
	<input type="text" name="camas"
		   class="form-control" />
		   <br />
	<button class="btn btn-outline-primary">Crear</button>
</form>
